.description {
  background-color: white;
  padding: 52px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.name {
  margin: 0px;
  font-weight: 500;
  color: var(--secondary-color);
}

.tag {
  margin: 0px;
  font-weight: 500;
  color: var(--primary-color);
  font-size: 28px;
}

.location {
  composes: tag;
}

.avatar {
  border-radius: 50%;
  border-style: solid;
  background-color: rgba(201, 199, 199, 0.992);
}
